.opcoes{
    display: flex;
}

.opcao{
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;
    height: 100%;
    min-width: 120px;
    padding: 0 5px;

    cursor: pointer;
}

